{% extends 'boards/base.html' %}

        {% block breadcrumb %}
            <li class='breadcrumb-item active'>Boards</li>
        {% endblock %}
        {% block content %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Board</th>
                    <th>Posts</th>
                    <th>Topics</th>
                    <th>Last Posts</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr>
                    <td>
                       <a href="{% url 'board_topics' board.pk %}"><div class="font-weight-bold">{{board.name}}</div></a>
                        <div style="font-style: italic; color:#888"><small>{{board.description}}.</small></div>
                    </td>
                    <td class="align-middle">0</td>
                    <td class="align-middle">0</td>
                    <td class ="align-middle">0</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% endblock %}
 